<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}"> 
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            </style>
    </head>
    <body>
        <h1 style="font-size:60px;"> Killer Whales Wiki</h1>
        <button class="center"> About</button>
        <p>Click Button above for more info</p>
        <img src="https://a-z-animals.com/media/killer-whale-1.jpg" alt="Killer WHale" class="center">
    </body>
</html>