<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}"> 
    </head>
    <body>
        <h1 style="border: 1px solid black"> About Killer Whales</h1>
        <p>The orca or killer whale (Orcinus orca) is a toothed whale belonging to the oceanic dolphin family, of which it is the largest member. 
            It is recognizable by its black-and-white patterned body. A cosmopolitan species, orcas can be found in all of the world's oceans in a variety of marine environments, 
            from Arctic and Antarctic regions to tropical seas.

            Orcas have a diverse diet, although individual populations often specialize in particular types of prey. Some feed exclusively on fish, while others 
            hunt marine mammals such as seals and other species of dolphin. They have been known to attack baleen whale calves, and even adult whales. 
            Orcas are apex predators, as they have no natural predators. They are highly social; some populations are composed of very stable matrilineal family groups 
            (pods) which are the most stable of any animal species. Their sophisticated hunting techniques and vocal behaviours, which are often specific to a particular group and passed across generations, 
            have been described as manifestations of animal culture.
            
            The International Union for Conservation of Nature assesses the orca's conservation status as data deficient because of the likelihood that 
            two or more orca types are separate species. Some local populations are considered threatened or endangered due to prey depletion, habitat loss, 
            pollution (by PCBs), capture for marine mammal parks, and conflicts with human fisheries. In late 2005, the southern resident orcas, which swim in British Columbia and Washington waters, 
            were placed on the U.S. Endangered Species list.
            
            Wild orcas are not considered a threat to humans, and no fatal attack on humans has ever been documented. There have been cases of captive orcas 
            killing or injuring their handlers at marine theme parks. Orcas feature strongly in the mythologies of indigenous cultures, and their reputation in different cultures ranges 
            from being the souls of humans to merciless killers.</p>
        <button class="center"> Home</button>
        <p>Click to go home</p>
        <img src="https://i.ytimg.com/vi/4CzYXfBeIdM/maxresdefault.jpg" alt="Killer WHale" class="center">
    </body>
</html>